extends /sidebar

block title
  | PIN Code Settings

block content
  h2 PIN Code Settings

  form.form-horizontal(method="POST")
    .control-group
      label.control-label(for="memberRoleId") Member role
      .controls
        select(id="memberRoleId", name="memberRoleId")
          each role in roles
            option(value=role.id, selected=(role.id === data.memberRoleId))= role.name

    .control-group
      label.control-label(for="keyholderRoleId") Keyholder role
      .controls
        select(id="keyholderRoleId", name="keyholderRoleId")
          each role in roles
            option(value=role.id, selected=(role.id === data.keyholderRoleId))= role.name

    .control-group
      label.control-label API secret
      .controls
        input(type='text', name='apiSecret', value=data.apiSecret)

    .control-group
      .controls
        button.btn-success(type="Submit") Save

  h3 Recent entries
  table.table
    tr
      th When
      th Location
      th User
    each entry in entries
      tr
        td= entry.when.toISOString()
        td= entry.location
        td
          if entry.user
            a(href="/people/" + entry.user.id) #{entry.user.fullname} (#{entry.user.username})
          else
            | -
