extends /sidebar

mixin controlGroup(name, id, label, defaultValue)
  .control-group
    label.control-label(for=name+"-"+id)= label
    .controls
      if block
        block
      else
        //- XXX: defaultValue needs to make it clear it's not saved
        input(id=name+"-"+id, name=name+"["+id+"]", value=data[name][id] || defaultValue)

block title
  | Core Settings

block content
  h2 Core Settings
  p Here you can configure the core settings for the Members Area.

  form.form-horizontal(method="POST")
    h4 Email
    +controlGroup("email", "from_address", "From Address")
    +controlGroup("email", "service", "Service", (process.env.MAILGUN_SMTP_LOGIN ? "mailgun" : ""))
    +controlGroup("email", "username", "Username", process.env.MAILGUN_SMTP_LOGIN)
    +controlGroup("email", "password", "Password", process.env.MAILGUN_SMTP_PASSWORD)

    h4 Theme
    +controlGroup("theme", "identifier", "Theme")
      select(name="theme[identifier]")
        each aTheme in themes
          option(value=aTheme.value, selected=(data.theme.identifier == aTheme.value))= aTheme.name

    .control-group
      .controls
        button.btn-success(type="Submit") Save
