extends ../layout

block title
  | Register

mixin renderErrors(fieldName)
  if errors && errors[fieldName]
    - each error in errors[fieldName]
      p.text-error= error

mixin field(fieldName, fieldTitle, required, type)
  - controlGroupClass = (errors && errors[fieldName] ? "error" : "")
  - type = type || 'text'
  .control-group(class=controlGroupClass)
    if fieldTitle
      label(class="text-"+controlGroupClass)= fieldTitle
    if block
      block
    else
      input.text(type=type, name=fieldName, placeholder=(required ? 'Required' : 'Optional'), tabindex=tabIndex++, value=data[fieldName])
    +renderErrors(fieldName)

block body
  - var controlGroupClass, value, item, field
  - var tabIndex = 1
  .row
    .span4.offset1.gumph
      h2 Registration
      p.lead Use this for to register to become a {{friend of So Make It}}. 
      p Many of the services provided by So Make It require a username and
        | password, so you will need to choose a unique username.
      p This copy should be editable within the members area.
      p.
        If you choose to enter your full name, please use your real name. If
        you do not wish to use your real name, please leave <strong>full
        name</strong> blank. Your name will be visible to all within the
        members area.
      p.
        If you choose to enter your address, please use your real address -
        otherwise leave address blank. Your address will only be visible to
        {{Admins}}.

    .span4.offset1.register-form
      h2 Registration form
      form(action='', method='POST')
        fieldset
          +renderErrors('base')

          //- Antispam
          .control-group.sdfsdfsdf
            label Fill this field in if you're not a human:
            input.text(type='text', name='url', placeholder='Required')

          +field('fullname', 'Full Name', false)
          +field('email', 'Email', true, 'email')
          +field('username', 'Username', true)
          +field('address', 'Postal Address', false)
            textarea.text(name='address', placeholder='Optional', rows=4, tabindex=tabIndex++)= data.address

          +field('password', 'Password', true)
            input.text(type='password', name='password', placeholder='Password', tabindex=tabIndex++)
            input.text(type='password', name='password2', placeholder='Again', tabindex=tabIndex++)

          +field('terms', null, true)
            label(class="text-"+controlGroupClass)
              input(type="checkbox", name="terms", tabindex=tabIndex++)
              |  I confirm that the information I have entered above is not
              |  fraudulent, and that I agree to be bound by the 
              a(href="http://wiki.somakeit.org.uk/wiki/Rules") rules
              | . 

          button.btn.btn-primary.btn-large(type='submit', tabindex=tabIndex++) Sign up
