extends /layout

block title
  | Register

mixin renderErrors(fieldName)
  if errors && errors[fieldName]
    - each error in errors[fieldName]
      p.text-error= error

mixin field(fieldName, fieldTitle, required, type)
  - controlGroupClass = (errors && errors[fieldName] ? "error" : "")
  - type = type || 'text'
  .control-group(class=controlGroupClass)
    if fieldTitle
      label(class="text-"+controlGroupClass)= fieldTitle
    if block
      block
    else
      input.text(type=type, name=fieldName, placeholder=(required ? 'Required' : 'Optional'), tabindex=tabIndex++, value=data[fieldName])
    +renderErrors(fieldName)

block body
  - var controlGroupClass, value, item, field
  - var tabIndex = 1
  .row
    .span4.offset1.gumph
      h2= title || "Registration"
      p.lead= leadText || "Configure this text in Core Settings"
      != registrationText || "The first user is automatically verified and an admin."

    .span4.offset1.register-form
      h2 Registration form
      form(action='', method='POST')
        fieldset
          +renderErrors('base')

          //- Antispam
          .control-group.sdfsdfsdf
            label Fill this field in if you're not a human:
            input.text(type='text', name='url', placeholder='Required')

          +field('fullname', 'Full Name', false)
          +field('email', 'Email', true, 'email')
          +field('username', 'Username', true)
          +field('address', 'Postal Address', false)
            textarea.text(name='address', placeholder='Optional', rows=4, tabindex=tabIndex++)= data.address

          +field('password', 'Password', true)
            input.text(type='password', name='password', placeholder='Password', tabindex=tabIndex++)
            input.text(type='password', name='password2', placeholder='Again', tabindex=tabIndex++)

          +field('terms', null, true)
            label(class="text-"+controlGroupClass)
              input(type="checkbox", name="terms", tabindex=tabIndex++)
              |  I confirm that the information I have entered above is not
              |  fraudulent, and that I agree to be bound by the 
              a(href="http://wiki.somakeit.org.uk/wiki/Rules") rules
              | . 

          button.btn.btn-primary.btn-large(type='submit', tabindex=tabIndex++) Sign up
