extends /sidebar

block title
  | People

block content
  h2 People
  div#list-type-selector(data-list="people-list")
    label="View as:"
    label
      input(type="radio", name="list-type", value="grid" checked)
      ="Grid"
    label
      input(type="radio", name="list-type", value="list")
      ="List"
  ul.user-list.grid#people-list
    each user in users
      li(class=user.classNames, data-id=user.id)
        a(href="/people/"+user.id)
          img(src=user.getGravatar(110), data-retina-src=user.getGravatar(220), width="110", height="110"  alt=user.username+" avatar")
          span.name= user.safename + " (" + user.username + ")"
          span.roles
            each activeRoleUser in user.activeRoleUsers
              if activeRoleUser.role_id != 1
                span.user-role-tag(style="background-color: " + activeRoleUser.role.meta.color + "; color: " + activeRoleUser.role.meta.textColor)= activeRoleUser.role.name 

  h3 Summary
  table.table(style="width: 30%")
    tr
      th Role
      th Count
    each stat in roleStats
      tr
        td
          span.user-role-tag(style="background-color: " + stat.role.meta.color + "; color: " + stat.role.meta.textColor)= stat.role.name
        td= stat.count

block scripts
  script(src='/js/members.js')
