extends /sidebar

block title
  = user.fullname

block content
  h2= user.fullname
  p
    strong Username: 
    = user.username
  h3 Active roles:
  ul
  each roleUser in user.activeRoleUsers
    li
      strong(class="user-role-tag", style="font-size: 1em; background-color: " + roleUser.role.meta.color + "; color: " + roleUser.role.meta.textColor)= roleUser.role.name
      |  since 
      em= roleUser.approved
  if admin
    h3 Admin stuff
    p Email: #{user.email}
    p Address:
    pre= user.address
    <!--ADMIN-->
