extends /sidebar

block title
  | Edit Role: #{role.name}

mixin formFor(mode, type, data, index)
  - data = data || {}
  - var requirementType = requirementTypes[type]
  h4= requirementType.title
  if mode === 'add'
    p= requirementType.description
  form.form-horizontal(method="POST")
    input(type='hidden', name='action', value=mode + "_requirement")
    if mode === 'edit'
      input(type='hidden', name='index', value=index)
      input(type='hidden', name='id', value=data.id)
    input(type='hidden', name='type', value=requirementType.type)
    each input in requirementType.inputs
      .form-group
        - var inputId = "add-"+requirementType.type+"-"+input.name
        label.control-label(for=inputId)= input.label
        .controls
          if input.type === 'select'
            select(id=inputId, name=input.name)
              each option in input.options
                option(value=option.value, selected=(option.value === data[input.name]))= option.label
          else
            input(id=inputId, type="text", name=input.name, value=data[input.name] || input.value)
    .form-group
      .controls
        if mode === 'add'
          button.btn.btn-success(type="submit") Add Requirement
        else
          button.btn.btn-success(type="submit") Edit Requirement
          button.btn.btn-danger(type="submit",name="delete",value="delete") Delete Requirement

block content
  h2 Edit Role: #{role.name}

  if error
    p.lead.text-error= error

  form.form-horizontal(method="POST")
    .form-group
      label.control-label(for="name") Role Name
      .controls
        input(type="text", name="name", value=data.name)
    .form-group
      label.control-label(for="description") Description
      .controls
        textarea(name="description", style="width: 100%; height: 5em")= data.meta.description
    .form-group
      label.control-label(for="emailText") Email text
      .controls
        textarea(name="emailText", style="width: 100%; height: 5em")= data.meta.emailText
    .form-group
      label.control-label(for="color") Colour
      .controls
        div(id="colorPreview", style="float: left; width:1.7em; height:1.7em; border: 1px solid black; background-color: "+data.meta.color)
        input(id="colorInput", name="color", value=data.meta.color, style="float: left")
        for color in ["#e11d21", "#e05a16", "#fbca04", "#009800", "#006b75", "#207de5", "#0052cc", "#5319e7"]
          div(class="colorPickerOption", style="float: left; width:1.7em; height:1.7em; background-color: "+color, data-color=color)
        div(style="clear:both")
    .form-group
      .controls
        button.btn.btn-success(type="submit") Update Role

  h3 Edit requirements
  p If you delete a requirement then other changes you make at the same time will be lost.
  each requirement, index in role.meta.requirements
    +formFor('edit', requirement.type, requirement, index)

  hr
  h3 Add a requirement
  each requirementType in requirementTypes
    +formFor('add', requirementType.type)

  script.
    (function(){
      var colorPreviewEl = document.getElementById("colorPreview");
      var colorInputEl = document.getElementById("colorInput");
      function previewColor() {
        setTimeout(function(){
        colorPreviewEl.style.backgroundColor = colorInputEl.value;
        }, 0);
      }
      colorInputEl.onchange = colorInputEl.onkeypress = previewColor;
      var colorPickerEls = document.getElementsByClassName("colorPickerOption");
      for (var i = 0; i < colorPickerEls.length; i++) {
        (function(i) {
          var colorPickerEl = colorPickerEls[i];
          colorPickerEl.onclick = function() {
            colorInputEl.value = colorPickerEl.getAttribute("data-color");
            previewColor();
          }
        })(i);
      }
    })();
