extends /sidebar

block title
  | Roles

block content
  h2 Roles
  each role in roles
    h3= role.name
    if role.meta.description
      p.lead= role.meta.description
    h4= Requirements
    each requirement in role.meta.requirements || []
      - var requirementType = requirementTypes[requirement.type]
      if requirementType && requirementType.getSentence
        p= requirementType.getSentence(requirement)
      else
        p We've not yet coded the description of this requirement.
    if activeRoleIds.indexOf(role.id) >= 0
      p.text-success You have this role
    else if appliedRoleIds.indexOf(role.id) >= 0
      p.text-warning You've already applied for this role
    else if eligibleRoleIds.indexOf(role.id) < 0
      p.text-error You're not eligible for this role
    else
      form(method="POST")
        input(type="hidden", name="role_id", value=role.id)
        button.btn.btn-success(type="submit") Apply
