extends /sidebar

block title
  | RFID Tag Settings - #{tag.uid}

block content
  h2 RFID Tag Settings

  if tag.user
    p Assigned to #{tag.user.fullname}
  else

    form.form-horizontal(method="POST")
      .control-group
        label.control-label User
        .controls
          select(name='user_id')
            option Select person
            for user in users
              option(value=user.id) #{user.id} - #{user.fullname}

      .control-group
        .controls
          button.btn.btn-success(type="Submit") Save

  h3 Recent entries
  table.table
    tr
      th When
      th Location
      th User
    each entry in entries
      tr
        td= entry.when.toISOString()
        td= entry.location
        td
          if entry.user
            a(href="/people/" + entry.user.id) #{entry.user.fullname} (#{entry.user.username})
          else
            | -
