extends /sidebar

block title
  | Account

block content
  h2 Account settings
  p.lead.
    Hello #{loggedInUser.safename}! Here you can change your personal details.

  if error
    p.text-error
      if error.property
        | There was an error with '#{error.property}': 
      = error.message

  if success
    p.text-success Your data has been updated

  form.form-horizontal(method="POST")
    .form-group
      label.control-label Full Name
      .controls
        input(name='fullname', value=data.fullname)
    .form-group
      label.control-label Address
      .controls
        textarea(name='address', rows=5)= data.address
    .form-group
      label.control-label Password
      .controls
        input(type='password', name='password')
    .form-group
      label.control-label Password (again)
      .controls
        input(type='password', name='password2')
    .form-group
      .controls
        button.btn.btn-success(type="submit") Update
    .form-group
      label.control-label Picture
      .controls
        img(src=loggedInUser.getGravatar(200),alt="avatar")
        p You can change your avatar on <a href="http://www.gravatar.com">Gravatar.com</a>. It is based on your email address (#{loggedInUser.email}).
        p A picture of your face is preferable, so your fellow members can easily recognise you.
