extends /sidebar

block title
  | Account

block content
  h2 Account settings
  p.lead
    | Hello #{loggedInUser.safename}! Here you can change your personal details.

  if error
    p.text-danger
      if error.property
        | There was an error with '#{error.property}': 
      = error.message

  if success
    p.success Your data has been updated

  form(method="POST")
    fieldset
      .form-group
        label Full Name
        input.form-control(name='fullname', value=data.fullname)
      .form-group
        label Address
        textarea.form-control(name='address', rows=5)= data.address
      .form-group
        label Password
        input.form-control(type='password', name='password')
      .form-group
        label Password (again)
        input.form-control(type='password', name='password2')
      .form-group
        button.btn.btn-primary.btn-large.btn-block(.btn-successtype="submit") Update

      .row
        .col-md-2
          img(src=loggedInUser.getGravatar(200),alt="avatar")
        .col-md-6.col-md-offset-2
          p You can change your avatar on <a href="http://www.gravatar.com">Gravatar.com</a>. It is based on your email address (#{loggedInUser.email}).
          p A picture of your face is preferable, so your fellow members can easily recognise you.
