extends /sidebar

block title
  | Dashboard

block content
  h2 Dashboard
  p.lead
    | Hello #{loggedInUser.safename}! Welcome to the #{siteSettings.name}.
  p.
    From here you can manage your subscription, view other member profiles, and
    find your way into our various other services. Your Member's area username
    and password can be used to log in to the other services we offer, such as
    the wiki and blog.

  p
    a.btn.btn-primary.btn-large(href="/people/" + loggedInUser.id) Click here to visit your user profile.

  h4 Roles
  p.
    Here are the roles that you have been granted:
  ul
    each roleUser in loggedInUser.activeRoleUsers
      li
        strong(class="user-role-tag", style="font-size: 1em; background-color: " + roleUser.role.meta.color + "; color: " + roleUser.role.meta.textColor)= roleUser.role.name
        |  granted on 
        em= roleUser.approved
  if pendingRoleUsers.length
    p.
      You've requested the following roles but they've not been approved yet:
    ul
      each roleUser in pendingRoleUsers
        li <strong>#{roleUser.role.name}</strong> <a href="/roles/applications/#{roleUser.id}">requested</a> on <em>#{roleUser.createdAt}</em>
  p.
    You can apply for further roles <a href="/roles">here</a>.
