extends /sidebar

block title
  | GoCardless Preauth Bill Creation
  if dryRun
    |  Dry Run
  else
    |  Results

block content
  h2 GoCardless Preauth Bill Creation
    if dryRun
      |  Dry Run
    else
      |  Results

  if err
    h3.text-error ERROR
    p.text-error #{err.message}
    pre
      code= err.stack
  else
    table
      tr
        th Person
        th Amount
        th Date
        if !dryRun
          th Error?
      each entry in results
        tr
          td= entry.user.fullname
          td= entry.bill.amount
          td= entry.bill.charge_customer_at
          if !dryRun
            td= (entry.bill.error ? entry.bill.error.message : "-")

  if dryRun
    form(method="POST", action="/admin/gocardless/preauths/do")
      fieldset
        .form-group
          button.btn.btn-success(type="submit", name="confirm", value="confirm") Do it!
